<div id="example-basic">
    <h3>Job Info</h3>
    <section>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputJobId" class="col-sm-2 control-label">Job Id</label>
            <div class="col-sm-10 input-group   ">
              <input type="email" class="form-control" id="inputJobId" placeholder="Job Id">
            </div>
          </div>
          <div class="form-group">
            <label for="inputOrderedBy" class="col-sm-2 control-label">Ordered By</label>
            <div class="col-sm-10 input-group">
              <input type="password" class="form-control" id="inputOrderedBy" placeholder="Ordered By">
            </div>
          </div>
          <div class="form-group datepicker">
              <label for="inputDateFromDK" class="col-sm-2 control-label">Date From DK</label>
              <div class="input-group date col-sm-10"
                    data-bind="datetimepicker: { format: 'MM/DD/YYYY' }">
                  <input type="text" class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
        </form>
    </section>
    <h3>Tools</h3>
    <section params="{ header: 'Header 2' }">
        <p>Select Tools to deliver</p>
    </section>
    <h3>Delivery</h3>
    <section>
        <p>The next and previous buttons help you to navigate through your content.</p>
    </section>
</div>
