<div id="example-basic">
    <h3>Job Info</h3>
    <section>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputOrderId" class="col-sm-2 control-label">Order Id</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="inputOrderId" placeholder="Order Id" data-bind="value: orderId">
            </div>
          </div>
          <div class="form-group">
            <label for="inputJobId" class="col-sm-2 control-label">Job Id</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="inputJobId" placeholder="Job Id" data-bind="value: jobId">
            </div>
          </div>
          <div class="form-group datepicker">
              <label for="inputDateFromDK" class="col-sm-2 control-label">Date From DK</label>
              <div class="input-group date col-sm-10"
                    data-bind="datetimepicker: { format: 'MM/DD/YYYY' }">
                  <input type="text" class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <div class="form-group">
            <label for="inputOrderedBy" class="col-sm-2 control-label">Ordered By</label>
            <div class="col-sm-10 input-group">
              <input type="text" class="form-control" id="inputOrderedBy" placeholder="Ordered By" data-bind="value: orderedBy">
            </div>
          </div>
        </form>
    </section>
    <h3>Tools</h3>
    <section params="{ header: 'Header 2' }">
        <p>Select Tools to deliver</p>
        <button type="button" class="btn btn-default"
            data-bind="click: addTool">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"> Add
        </button>
        <br/>
        <!-- ko foreach: tools -->
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                <input type="text" placeholder="Tool name" data-bind="value: $data.name" class="form-control" aria-label="...">
            </div>
            <div class="col-xs-2">
              <select class="form-control" data-bind="options: $parent.availableToolCounts,
                  value: $data.count,
                  valueAllowUnset: true,
                  valueUpdate: 'change'"></select>
            </div>
            <button type="button" class="btn btn-default" data-bind="click: $parent.removeTool">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
        </div>
        <!-- /ko -->
        </br>
    </section>
    <h3>Delivery</h3>
    <section>
        <p>Thank you for your order, delivery options coming soon.</p>
    </section>
</div>
